// general variables
$main-font-family: 'Roboto', sans-serif;
$main-transition: 0.4s;
//------------------------------------------------------------------------------
$calendar-heading-font-size: 22px;
//------------------------------------------------------------------------------
$calendar-weekdays-color: #8E92A2;
//------------------------------------------------------------------------------
$calendar-row-items-background: #F1F8FF;


// main content section

$main-section-background: #212E51;
